<!DOCTYPE html>
<html>
{% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />

<div class="navbar">
  <h1 class="app-name">A.C.E.D.</h1>
  <nav class="nav">
    <a href="../scheduler/" class="nav-elem">Court Scheduler</a>
    <a href="../billing/" class="nav-elem">Billing</a>
    <a href="../directory/" class="nav-elem">Member Directory</a>
    <a href="../account/" class="nav-elem">
      {% if request.session.member_id == 1 or request.session.member_id == 2 %}
        Admin Dashboard
      {% else %}
        My Account
      {% endif %}
    </a>
    <a href="../logout/" class="nav-elem">Log Out</a>
  </nav>
</div>
  {% if request.session.member_id != none %}
<div class="acc-page">
<center>
  <div class="error-msg">
    <div class="title-container">
      <h2 class="error-title">Error</h2>
    </div>
    <div class="desc-container">
      <span class="error-desc"></span>
    </div>
  </div>
  {% if request.session.member_id == 1 or request.session.member_id == 2 %}
<h2 class="acc-title">Admin Dashboard</h2>
<h3>Send an Email Announcement</h3>
  <form method="post">
    {% csrf_token %}
    <input name="subject" type="searchbar" placeholder="Enter Email Subject">
    <br>
    <textarea name="emailbody" placeholder="Enter Email Body" rows="5" cols="35"></textarea>
    <br>
    <input name="submittype" type="submit" value="Send Email">
  </form>
  {% if email_success %}
    <h3>{{email_success}}</h3>
  {% endif %}
  {% else %}
<h2 class="acc-title">Your Account</h2>
<form method="post">
  {% csrf_token %}
  <input id = "search-btn" name="submittype" type="submit" value="Fetch Information">
</form>
</center>
<center>
<div class="acc-info">
  <h4 class="acc-labels" id="fname-label">First Name:
    <span id="fname">
    {% if result %}
      {{ result.0.0 }}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input name = "value" type="searchbar" placeholder="Enter First Name">
      <input name="submittype" type="submit" value="Change First Name">
    </form>
    </span>
  </h4>
  <h4 class="acc-labels" id="lname-label">Last Name:
    <span id="lname">
    {% if result %}
      {{ result.0.1 }}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input name = "value" type="searchbar" placeholder="Enter Last Name">
      <input name="submittype" type="submit" value="Change Last Name">
    </form>
    </span>
  </h4>
  <h4 class="acc-labels" id="email-label">Email:
    <span id="email">
    {% if result %}
      {{ result.0.2 }}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input name = "value" type="searchbar" placeholder="Enter Email">
      <input name="submittype" type="submit" value="Change Email">
    </form>
    </span>
  </h4>
  <h4 class="acc-labels" id="num-label">Phone Number:
    <span id="num">
    {% if result %}
      {{ result.0.3 }}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input name = "value" type="searchbar" placeholder="Enter Phone Number">
      <input name="submittype" type="submit" value="Change Phone Number">
    </form>
    </span>
  </h4>
  <h4 class="acc-labels" id="optin-label">Member Directory Opt In:
    <span id="optin">
    {% if result %}
      {{ result.0.4 }}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <select name = "optin">
        <option value="True">True</option>
        <option value="False">False</option>
      </select>
      <input name="submittype" type="submit" value="Change Opt-In">
    </form>
    </span>
  </h4>
  <h4 class="acc-labels" id="gpass-label">Remaining Guest Passes:
    <span id="gpass">
    {% if result %}
      {{ result.0.5 }}
    {% endif %}
    </span>
  </h4>
</div>
</center>
</div>
  {% endif %}
{% else %}
<center>
<div class="login-msg">
<b>Please log in.</b>
<a href="../login.html" class="nav-elem">Log In</a>
</div>
</center>
{% endif %}
</html>
