<!DOCTYPE html>
<html>
{% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />

<div class="navbar">
  <h1 class="app-name">A.C.E.D.</h1>
  <nav class="nav">
    <a href="../scheduler/" class="nav-elem">Court Scheduler</a>
    <a href="../billing/" class="nav-elem">Billing</a>
    <a href="../directory/" class="nav-elem">Member Directory</a>
    <a href="../account/" class="nav-elem">
      {% if request.session.member_id == 1 or request.session.member_id == 2 %}
        Admin Dashboard
      {% else %}
        My Account
      {% endif %}
    </a>
    <a href="../logout/" class="nav-elem">Log Out</a>
  </nav>
</div>

<div id="billing-pg">
<center>
<h2 id="charges-title">Billing Menu</h2>
<ul id="charges-list"></ul>
  {% if request.session.member_id == None %}
  <b>Please log in.</b>
  <a href="../login/" class="nav-elem">Log In</a>


  {% elif request.session.member_id == 1 or request.session.member_id == 2 %}
  <div class="billing-body">
    <h3>Search for a Bill</h3>
    <form method = "post">
      {% csrf_token %}
      <input name="mem_id" class="searchbar" placeholder="Enter Member ID">
      <input name="submittype" type="submit" value="Get Bill">
    </form>
    <h3>Add a Charge to a Bill</h3>
    <form method = "post">
      {% csrf_token %}
      <input name="mem_id" class="searchbar" placeholder="Enter Member ID">
      <input name="amount" class="searchbar" placeholder="Enter Amount">
      <input name="desc" class="searchbar" placeholder="Enter Charge Description">
      <input name="submittype" type="submit" value="Create Charge">
    </form>
    {% if success %}
      <b>Charge Created!</b>
    {% endif %}

    {% if request.session.member_id == 2 %}
    <h3>Modify a Charge</h3>
    <form method = "post">
      {% csrf_token %}
      <input name="charge_id" type="searchbar" placeholder="Enter Charge ID">
      <select name="attribute">
        <option class="attribute" value="amount">Amount</option>
        <option class="attribute" value="Description">Description</option>
        <option class="attribute" value="Type">Type</option>
      </select>
      <input name="value" type="searchbar" placeholder="Enter Value">
      <input name="submittype" type="submit" value="Modify Charge">
    </form>
  <h3>Delete a Charge</h3>
  <form method = "post">
    {% csrf_token %}
    <input name="charge_id" type="searchbar" placeholder="Enter Charge ID">
    <input name="submittype" type="submit" value="Delete Charge">
  </form>
  <h3>Modify Billing Policy</h3>
  <form method="post">
    {% csrf_token %}
    <input name="submittype" type="submit" value="Retrieve Current Billing Scheme">
  </form>
  {% if billing_scheme %}
  <table border="1">
    <tr>
      <th>Guest Fee</th>
      <th>Annual Fee</th>
    </tr>
    <tr>
      <td>{{billing_scheme.0.0}}</td>
      <td>{{billing_scheme.0.1}}</td>
    </tr>
  </table>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <select name="chargetype">
      <option class="chargetype" value="guestfee">Guest Fee</option>
      <option class="chargetype" value="annualfee">Annual Fee</option>
    </select>
    <input name="value" type="searchbar" placeholder="Enter Modified Value">
    <input name="submittype" type="submit" value="Modify Billing Scheme">
  </form>

    {% endif %}

    {% if bill %}
        <h2>Bill</h2>
        <table border = "1">
          <tr>
            <th>Charge ID</th>
           <th>Amount</th>
            <th>Date</th>
            <th>Description</th>
            <th>Type</th>
          </tr>
        {% for charge in bill %}
          <tr>
            <td>{{ charge.0 }}</td>
            <td>{{ charge.1 }}</td>
            <td>{{ charge.2 }}</td>
            <td>{{ charge.3 }}</td>
            <td>{{ charge.4 }}</td>
          </tr>
        {% endfor %}
        </table>
    {% endif %}





  {% else %}
    <form method = "post">
      {% csrf_token %}
      <input name="submittype" type="submit" value="Get Bill">
    </form>
    {% if bill %}
      <h2>Your Bill</h2>
      <table border = "1">
        <tr>
          <th>Amount</th>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
        </tr>
      {% for charge in bill %}
        <tr>
          <td>{{ charge.1 }}</td>
          <td>{{ charge.2 }}</td>
          <td>{{ charge.3 }}</td>
          <td>{{ charge.4 }}</td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  {% endif %}
  </div>
</center>
</div>

</html>
