<!DOCTYPE html>
<html>
  <link href="style.css" rel="stylesheet"/>

<div class="navbar">
  <h1 class="app-name">A.C.E.D.</h1>
  <nav class="nav">
    <a href="scheduler.html" class="nav-elem">Court Scheduler</a>
    <a href="billing.html" class="nav-elem">Billing</a>
    <a href="directory.html" class="nav-elem">Member Directory</a>
    <a href="account.html" class="nav-elem">My Account</a>
    <a href="login.html" class="nav-elem">Log Out</a>
  </nav>
</div>

<center>
<h2 id="charges-title">Charges</h2>
<ul id="charges-list"></ul>
No charges yet.
</center>

<!-- let data = [list of charges];
        let list = document.getElementById("charges-list");
        for (i = 0; i < data.length; ++i) {
            let li = document.createElement('li');
            li.innerText = data[i];
            list.appendChild(li);
        } -->

</html>
