<!DOCTYPE html>
<html>
{% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />

<div class="navbar">
  <h1 class="app-name">A.C.E.D.</h1>
  <nav class="nav">
    <a href="../scheduler/" class="nav-elem">Court Scheduler</a>
    <a href="../billing/" class="nav-elem">Billing</a>
    <a href="../directory/" class="nav-elem">Member Directory</a>
    <a href="../account/" class="nav-elem">My Account</a>
    <a href="../login/" class="nav-elem">Log In</a>
  </nav>
</div>
  {% if request.session.member_id != none %}
<center>
  <div class="dir-page">
  <h2 id="dir-title">Search Directory</h2>
<form class="dropdown" method="post">
    {% csrf_token %}
    {% if request.session.member_id != 1 and request.session.member_id != 2 %}
        <label class="drop-btn" for="search">Select Attribute:</label>
        <select name = "attribute" id="attribute">
            <option class="attribute" value="firstname">First Name</option>
            <option class="attribute" value="lastname">Last Name</option>
            <option class="attribute" value="email">Email</option>
            <option class="attribute" value="phonenum">Phone Number</option>
        </select>
            <input name = "value" class="searchbar" placeholder="Select attribute, then search value">
            <input id="search-btn" type="submit" value="Search">
    {% else %}
        <label class="drop-btn" for="search">Select Attribute:</label>
        <select name = "attribute" id="attribute">
            <option class="attribute" value="member_id">Member ID</option>
            <option class="attribute" value="firstname">First Name</option>
            <option class="attribute" value="lastname">Last Name</option>
            <option class="attribute" value="email">Email</option>
            <option class="attribute" value="phonenum">Phone Number</option>
            <option class="attribute" value="guestpass">Guest Passes</option>
            <option class="attribute" value="optIN">Opt-In Status</option>
            <option class="attribute" value="active">Active Status</option>
        </select>
            <input name="value" class="searchbar" placeholder="Select attribute, then search value">
            <input name="submittype" type="submit" value="Search">
    {% endif %}
    </form>
<br> <br>
<form method="post">
    {% csrf_token %}
    <input name="submittype" type="submit" value="View the Full Directory">
</form>
{% if request.session.member_id == 1 %}
<h2>Register a New Member</h2>
<form method="post">
    {% csrf_token %}
    <input name="fname" class="searchbar" placeholder="First Name">
    <input name="lname" class="searchbar" placeholder="Last Name">
    <input name="email" class="searchbar" placeholder="Email">
    <input name="phonenum" class="searchbar" placeholder="Phone Number">
    <input name="optin" class="searchbar" placeholder="Opt-In Status (True or False)">
    <input name="password" class="searchbar" placeholder="Password">
    <input name="submittype" type="submit" value="Create Member">
</form>
{% if success %}
      <b>Member Created!</b>
{% endif %}
<h2>Deactivate a Member</h2>
<form method="post">
    {% csrf_token %}
    <input name="memid" class="searchbar" placeholder="Member ID">
    <input name="submittype" type="submit" value="Deactivate Member">
</form>
{% if success %}
      <b>Member Deactivated!</b>
{% endif %}
{% endif %}


</div>


{% if results %}
    <h2>Search Results</h2>
    <table border="1">
        {% if request.session.member_id != 1 and request.session.member_id != 2 %}
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{ result.0 }}</td>
                    <td>{{ result.1 }}</td>
                    <td>{{ result.2 }}</td>
                    <td>{{ result.3 }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th>Member ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Guest Passes</th>
                <th>Opt In Status</th>
                <th>Active Status</th>
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{ result.0 }}</td>
                    <td>{{ result.1 }}</td>
                    <td>{{ result.2 }}</td>
                    <td>{{ result.3 }}</td>
                    <td>{{ result.4 }}</td>
                    <td>{{ result.5 }}</td>
                    <td>{{ result.6 }}</td>
                    <td>{{ result.7 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endif %}
</center>
{% else %}
<b>Please log in.</b>
<a href="../login.html" class="nav-elem">Log In</a>
{% endif %}
</html>
