<!DOCTYPE html>
<html>
{% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />

<div class="app-name-login">
  <h1 id="name">A.C.E.D.</h1>
  <p id="name-full">All-in-one Court Event Directory</p>
</div>


<body>

<center>
  {% if error %}
  <div class="error-msg">
    <div class="title-container">
      <h2 class="error-title">Error</h2>
    </div>
    <div class="desc-container">
      <span class="error-desc"> {{ error }}</span>
    </div>
  </div>
  {% endif %}

  <h2 id="login-text">Login</h2>
  <div id="login">
    <form method="post">
      {% csrf_token %}
      <div id="email-login">
        <label for="username">Username: </label>
        <input type="username" id="enter-email" name="username" required> <br><br>
      </div>
      <div id="pwd-login">
        <label for="pwd">Password: </label>
        <input type="password" id="enter-pwd" name="password" required> <br><br>
      </div>
      <center>
        <input id="login-btn" type="submit" value="Login">
      </center>
    </form>
  </div>
  </center>
</body>
</html>
