<!DOCTYPE html>
<html>
{% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />

<div class="app-name-login">
  <h1 id="name">A.C.E.D.</h1>
  <p id="name-full">All-in-one Court Event Directory</p>
</div>


<body>
<center>
  <h2 id="login-text">Log out</h2>
</center>
  <div id="logout">
    <form method="post">
      {% csrf_token %}
      <center>
        <input id="login-btn" type="submit" value="Log Out">
      </center>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
  </div>
</body>
</html>
