<!DOCTYPE html>
<html>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  {% load custom_filters %}
<div class="navbar">
  <h1 class="app-name">A.C.E.D.</h1>
  <nav class="nav">
    <a href="../scheduler/" class="nav-elem">Court Scheduler</a>
    <a href="../billing/" class="nav-elem">Billing</a>
    <a href="../directory/" class="nav-elem">Member Directory</a>
    <a href="../account/" class="nav-elem">
      {% if request.session.member_id == 1 or request.session.member_id == 2 %}
            Admin Dashboard
      {% else %}
        My Account
      {% endif %}
    </a>
    <a href="../login/" class="nav-elem">Log Out</a>
  </nav>
</div>
  {% if request.session.member_id != none %}
<center>
<div class="scheduler-bg">
  <h2 class="res-title">Make Reservation</h2>
  <form method="post">
    {% csrf_token %}
    <input name="submittype" type="submit" value="Reset Process">
  </form>
  <h3>Select Day:</h3>
  <form method = "post">
    {% csrf_token %}
    <select name="day">
      <option class="day" value="6">Sunday</option>
      <option class="day" value="0">Monday</option>
      <option class="day" value="1">Tuesday</option>
      <option class="day" value="2">Wednesday</option>
      <option class="day" value="3">Thursday</option>
      <option class="day" value="4">Friday</option>
      <option class="day" value="5">Saturday</option>
    </select>
    <input name="submittype" type="submit" value="Select Day">
  </form>
  {% if request.session.scheduler_stage == 'Type' %}
    <h3>Select Reservation Type:</h3>
    <form method = "post">
    {% csrf_token %}
    <select name="type">
      <option class="type" value="singles">Singles</option>
      <option class="type" value="doubles">Doubles</option>
    </select>
    <input name="submittype" type="submit" value="Select Type">
  </form>
  {% endif %}
  {% if request.session.scheduler_stage == 'Guests' %}
  <h3>Select Number of Non-Member Guests</h3>
    {% if request.session.type == 'singles' %}
      <form method="post">
        {% csrf_token %}
        <select name="guests">
          <option class="guests" value="0">0</option>
          <option class="guests" value="1">1</option>
        </select>
        <input name="submittype" type="submit" value="Designate Guests">
      </form>
    {% elif request.session.type == 'doubles' %}
      <form method="post">
        {% csrf_token %}
        <select name="guests">
          <option class="guests" value="0">0</option>
          <option class="guests" value="1">1</option>
          <option class="guests" value="2">2</option>
          <option class="guests" value="3">3</option>
        </select>
        <input name="submittype" type="submit" value="Designate Guests">
      </form>
    {% endif %}
  {% endif %}

  {% if request.session.scheduler_stage == 'Reserve' %}
    <h3>Enter Reservation Information</h3>
    <form method="post">
      {% csrf_token %}
      Start Time
      <input type="time" name="start" min="06:00" max="20:00" step="900">
      End Time
      <input type="time" name="end" min="06:00" max="20:00" step="900">
      Court Number
      <select name="court">
        <option class="court" value="1">1</option>
        <option class="court" value="2">2</option>
        <option class="court" value="3">3</option>
        <option class="court" value="4">4</option>
        <option class="court" value="5">5</option>
        <option class="court" value="6">6</option>
        <option class="court" value="7">7</option>
        <option class="court" value="8">8</option>
        <option class="court" value="9">9</option>
        <option class="court" value="10">10</option>
        <option class="court" value="11">11</option>
        <option class="court" value="12">12</option>
      </select>

      <br>
      {% if request.session.type == 'singles' %}
        {% if request.session.num_guests == '1' %}
          <input name="guest1" type="searchbox" placeholder="Enter Guest Name">
        {% elif request.session.num_guests == '0' %}
          <input name="member2" type="searchbox" placeholder="Enter Member Name">
        {% endif %}
      {% endif %}
      {% if request.session.type == 'doubles' %}
        {% if request.session.num_guests == '0' %}
          <input name="member2" type="searchbox" placeholder="Enter Member Name">
          <input name="member3" type="searchbox" placeholder="Enter Member Name">
          <input name="member4" type="searchbox" placeholder="Enter Member Name">
        {% elif request.session.num_guests == '1' %}
          <input name="member2" type="searchbox" placeholder="Enter Member Name">
          <input name="member3" type="searchbox" placeholder="Enter Member Name">
          <input name="guest1" type="searchbox" placeholder="Enter Guest Name">
        {% elif request.session.num_guests == '2' %}
          <input name="member2" type="searchbox" placeholder="Enter Member Name">
          <input name="guest1" type="searchbox" placeholder="Enter Guest Name">
          <input name="guest2" type="searchbox" placeholder="Enter Guest Name">
        {% elif request.session.num_guests == '3' %}
          <input name="guest1" type="searchbox" placeholder="Enter Guest Name">
          <input name="guest2" type="searchbox" placeholder="Enter Guest Name">
          <input name="guest3" type="searchbox" placeholder="Enter Guest Name">
        {% endif %}
      {% endif %}
      <input name="submittype" type="submit" value="Reserve">
    </form>
  {% endif %}

  {% if results %}
    <h2>Reservations for the Day</h2>
    <table border="1" class="calendar">
      <thead>
          <tr>
             <th>Time</th>
             {% for court in courts %}
                  <th>Court #{{ court }}</th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for row in time_grid %}
             <tr>
                 <td>{{ row.time }}</td>
                 {% for court_data in row.courts %}
                    <td style="text-align: center; {% if court_data.reservation_id %} background-color: #f0f0f0; {% endif %}">
                      {% if court_data.reservation_id %}
                        {{ court_data.reservation_id }}
                      {% endif %}
                    </td>
                  {% endfor %}
              </tr>
          {% endfor %}
      </tbody>
    </table>
  {% endif %}

    </table>
  <h3>Lookup a Reservation</h3>
  <form method="post">
    {% csrf_token %}
    <input name="res_id" type="searchbox" placeholder="Enter Reservation ID">
    <input name="submittype" type="submit" value="Lookup Reservation">
  </form>
  {% if res_results %}
    <h2>Reservation:</h2>
    <table border="1">
      <tr>
        <th>Day</th>
        <th>Court Number</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Reservation Type</th>
      </tr>
      <tr>
        <td>{{ res_results.0.0 }}</td>
        <td>{{ res_results.0.1 }}</td>
        <td>{{ res_results.0.2 }}</td>
        <td>{{ res_results.0.3 }}</td>
        <td>{{ res_results.0.4 }}</td>
      </tr>
    </table>
    <h3>Players:</h3>
    <table border="1">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      {% for attendee in attendees %}
      <tr>
        <td>{{ attendee.0 }} </td>
        <td>{{ attendee.1 }} </td>
      </tr>
      {% endfor %}
    </table>
    <h3>Update This Reservation</h3>
    <form method="post">
      {% csrf_token %}
      {% if request.session.update_type == 'singles' %}
        <input name="player1" type="searchbox" placeholder="Enter Player Name">
      {% elif request.session.update_type == 'doubles' %}
        <input name="player1" type="searchbox" placeholder="Enter Player Name">
        <input name="player2" type="searchbox" placeholder="Enter Player Name">
        <input name="player3" type="searchbox" placeholder="Enter Player Name">
      {% endif %}
      <input name="submittype" type="submit" value="Update Reservation">

    </form>
  {% endif %}
  <h3>Delete a Reservation</h3>
  <form method="post">
    {% csrf_token %}
    <input name="res_id" type="searchbox" placeholder="Enter Reservation ID">
    <input name="submittype" type="submit" value="Delete Reservation">
  </form>
</div>


</center>
{% else %}
<b>Please log in.</b>
<a href="../login.html" class="nav-elem">Log In</a>
{% endif %}
</html>
